@model MedicalMgmt.ViewModels.SelectPhysicianData
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Users.fin)*@
            Médico
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Expertise)*@
            Especialidade
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Physicians)
    {
        <tr class="tableRow" id="row_@item.PhysicianID">
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expertise)
            </td>
            <td align="right">
                @*@Html.ActionLink("Selecionar", "CreateAppointment", new { patientID = ViewBag.PatientID, physicianID = item.PhysicianID })*@
                <input type="submit" value="Selecionar" class="btn btn-primary btnSelectPhysician" id="@item.PhysicianID" />
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(
            Model.Physicians,
            page => Url.Action("FilteredPhysicians", new { page, patientID = ViewBag.PatientID }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "filteredPhysicians" })
        )
