@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Conta bloqueada";
}

<hgroup>
    <h1 class="text-danger">Conta bloqueada.</h1>
    <h2 class="text-danger">Entre em contato com o administrador.</h2>
</hgroup>
